body {
    font-family: 'Courier New', Courier, monospace;
	background-image: url('pc.gif');
	background-size: 250px 250px;
}

header {
    display: flex;
    justify-content: space-between;
	align-items: center;
    padding: 1rem;
    height: 6rem;
	background-color: var(--primary_color);
	color: var(--secondary_color);
	border: 3px groove var(--secondary_color);
}

main {
	margin: 2.5rem 10rem 0rem 10rem;
	height: 600px;
	background-color: var(--primary_color);
	color: var(--secondary_color);
	border: 3px groove var(--secondary_color);
}

p {
	width: 20rem;
	text-align: center;
	margin: 2rem auto;
}

footer {
	height: 150px;
	margin: 1rem 10rem;
	background-color: var(--primary_color);
	color: var(--secondary_color);
	border: 3px groove var(--secondary_color);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

footer h2 {
	text-align: center;
}

h3 {
    font-size: 2rem;
	text-align: center;
}

#banner {
	border: 1px solid var(--secondary_color);
}

#theme-switcher-form {
    place-content: end;
}

body[data-theme='light'] {
	--primary_color: greenyellow;
	--secondary_color: black;
}

body[data-theme='dark'] {
	--primary_color: black;
	--secondary_color: greenyellow;
}

body[data-theme='hawaii'] {
	--primary_color: turquoise;
	--secondary_color: plum;
}